                                                                                                                                                                                                                                                                                                              @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  margin:0;
  padding:0;
  font-size:14px;
  color:#393939 !important;
  font-family: 'Montserrat', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a, a:hover{
  color:#000;
  text-decoration: none;
}
*:focus{
  outline:none
}
.pright{
  padding-right: 0;
  box-sizing: border-box;
}
.load-more{
  background: #1D1D1B;
  border:1px solid transparent;
  padding:8px 38px;
  color:#fff;
  text-align: center;
  margin-top: 10px;
  transition:0.3s;
  
}
.load-more:hover{
  background:#ececec;
  color:#1d1d1b;
  border:1px solid #1d1d1b;
}
.see-all{
  border:none;
  padding:11px 0;
  width:100%;
  background-color: #1d1d1b;
  color:#fff;
  transition: 0.4s;
}
.fa-chevron-right{
  display: inline-block;
  margin-left: 8px;
}
.see-all:hover{
  background:#fff;
  color:#1d1d1b;
}

.back-link {
  cursor: pointer;
}
.title-parent{
  font-size:24px;
  margin: 20px 0;
}
.ablue,.agreen,.agrey,.abrown,.askyblue,.awhite,.adarkgrey,.red{
  border-color:#ececec;
}
.blue{
  background: #73A39D;
}
.green{
  background: #84CC4C;
}
.grey{
  background: #B5A8A1;
}
.brown{
  background: #AB844A;
}
.skyblue{
  background: #6977F0;
}
.white{
  background: #FFFFFF;
  border:1px solid #e7e7e7;
}
.darkgrey{
  background: #141414;
}
.red{
  background: #FF0000;

}
@media(max-width:768px){
  .title-parent{
    margin: 20px 0;
    font-size:18px;
  }
}